#navBarWidth input[type=search]{width:500px !important;}

@media screen and (max-width: 1200px) { 
    #navBarWidth input[type=search]{margin-left:0px; width:350px !important;}

}
@media screen and (max-width: 768px) { 
  #navBarWidth input[type=search]{margin-left:0px; width:220px !important;}

}
@media screen and (max-width: 576px) { 
    #navBarWidth input[type=search]{width:200px !important;}
  } 

  .orderSummary{
    width: 350px !important;
    border: 1px solid red !important;
}